body {
  background-color: #eaeaea;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.microphone {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 2em;
  width: 2em;
  padding: 0.9em;
  border-radius: 50%;
  margin: auto;
  font-size: 0.7em;
  cursor: pointer;
}

.microphone > .fa-microphone {
  font-size: 1.9em;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  border: 3px solid #6f4ad2;
  position: relative;
  cursor: pointer;
}

.play-button > .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  font-size: 1.05em;
}

.pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  position: relative;
  background: #fff;
  cursor: pointer;
}

.play-button > .fa-pause {
  font-size: 0.7em;
}

/** box **/
.box-wrapper {
}

.box {
  width: 10em;
  height: 5em;
  background: #061732;
  box-shadow: 20px 20px 50px rgba(6, 23, 50, 0.2);
  border-radius: 16px;
  font-size: 3em;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.55em;
}

.box::before {
  content: "";
  position: absolute;
  bottom: -5%;
  right: 6%;
  width: 0.6em;
  height: 0.6em;
  background: #061732;
  border-radius: 6px;
  transform: rotate(45deg);
}

.box__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box__details {
  display: flex;
  flex-direction: column;
}

.box__text {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 0.6em;
  line-height: 16px;
}

.box__text--grey {
  color: rgba(255, 255, 255, 0.6);
}

.box__text--grey-2 {
  color: rgba(255, 255, 255, 0.5);
}

.box__text--timer {
  font-size: 0.8em;
  font-weight: bold;
}

.box__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.35em;
  justify-content: space-between;
}

.box-button {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: #fff;
  border: 0;
  font-size: 1em;
  padding: 12px 32px;
  line-height: 0.95em;
  cursor: pointer;
}
